$color: #eee;

.app-title {
  padding-top: 30px;
  padding-bottom: 30px;
}
body {

}
.app-content {
  margin-bottom: 30px;
}
.app-footer {
  font-size: 12px;
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #e7e7e7;
}
